
    <section class="bg-white py-6 relative">
      <div class="container">
        <div class="flex items-center flex-wrap">
          <div class="grow">
            <div class="flex items-center gap-3">
              <div class="inline-flex items-center">
                <a href="/dashboard"
                  >Dashboard <i class="fa-solid fa-minus text-sm"></i
                ></a>
              </div>
              <div class="inline-flex items-center">
                <a href="https://socapadi.org"
                  >Website
                </a>
              </div>
            </div>
          </div>
          <div>
            <p class="text-gray-500/80 text-sm flex gap-1">
              <script>
                2024;
              </script>
              © SOCAPADI . Tout Droit Réservé. Propulsé par
              <a
                href="https://kwetutech.com"
                target="_blank"
                class="text-gray-800 hover:text-primary transition-all flex gap-2 items-center"
                ><span>KwetuTech</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-box-arrow-up-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"
                  />
                </svg>
              </a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- =========== Back To Top Start =========== -->
    <button
      data-toggle="back-to-top"
      class="fixed text-sm rounded-full z-10 bottom-5 end-5 h-9 w-9 text-center bg-primary/20 text-primary flex justify-center items-center"
    >
      <i class="fa-solid fa-arrow-up text-base"></i>
    </button>
    <!-- =========== Back To Top End =========== -->

    <!-- Frost Plugin Js -->
    <script src="/public/assets/libs/@frostui/tailwindcss/frostui.js"></script>
    <script src="/public/assets/libs/aos/aos.js"></script>
    <script src="/public/assets/libs/swiper/swiper.esm.js"></script>


    <script src="/public/assets/js/theme.min.js"></script>
  </body>
</html>
